body{
  background: grey;
}
header{
  height: 100px;
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
}
.nom{
  float: left;
  margin-left: 150px;
  margin-top: -70px;
}
.nav{
  float: right;
  margin-top: -63px;
  padding: 0px;
  margin-right: 40px;
}
.nav li{
  display: inline;
}
.nav a{
  font-size: 20px;
  padding: 0px 25px;
  text-decoration: none;
  color: black;
  font-family: monospace;
}
a:hover{
  color: white;
}
.a1{
  border: 1px solid black;
  height: 300px;
  width: 400px;
  float: left;
  margin-top: 10px;
}
.a2{
  border: 1px solid black;
  height: 300px;
  width: 400px;
  float: left;
  margin-left: 30px;
  margin-top: 10px;
}
.a3{
  border: 1px solid black;
  height: 300px;
  width: 400px;
  float: left;
  margin-top: 30px;
}
.a4{
  border: 1px solid black;
  height: 300px;
  width: 400px;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}
.b{
  border: 1px solid black;
  height: 630px;
  width: 440px;
  float: right;
  margin-top: 10px;
}
footer{
  border: 1px solid black;
  height: 100px;
  margin-top: 660px;
  border-radius: 0 0 10px 10px;
}
