body{
  background: url(img/fondo.jpg)center;
  background-size: cover;
}
.box{
  margin: auto;
  margin-top: 120px;
  text-align: center;
  border: 1px solid rgb(204, 171, 171);
  height: 400px;
  width: 400px;
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgb(66, 58, 58);
}
h1{
  margin-top: 10px;
  font-family: monospace;
  line-height: 40px;
  background-color: rgb(247, sss247, 247);
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
}
.uno{
  margin-top: 40px;
}
.dos{
  margin-top: 48px;
}
.box input[type="text"]{
float: right;
margin-right: 30px;
font-size: 20px;
margin-top: 50px;
background: transparent;
border: none;
outline: none;
border-bottom: 1px solid black;
}
#uno{
  margin-top: 42px;
}
.box input[type="submit"]{
  margin-top: 20px;
  margin-top: 25px;
  width: 90px;
  height: 30px;
  color: black;
  border: 1px solid black;
  border-radius: 20px;;
  background: transparent;
}
.text{
  float: left;
  margin-top: 20px;
  margin-left: 40px;
  text-decoration: none;
  line-height: 30px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}
a:hover{
  color: #08F0C2;
}
#logo{
  height: 100px;
  width: 100px;
  margin-top: -50px;
}
