body{
  background: url(img/fondo.jpg)center;
  background-size: cover;
}
header{
  height: 100px;
  width: 100%;
  margin: auto;
  background:transparent;
}
.hamburger{
  min-height: 30px;
  max-width: 50px;
  margin-left: 75pc;
  margin-top: -3.5pc;
}
.hamburger .nav1 , .nav1 li, .nav1 a{
  display: none;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: black;
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 5px;
    content: '';
    transition-timing-function: ease;
    transition-duration: .2s;
    transition-property: transform,opacity;
}
.hamburger-inner:before {
    top: 10px;
}
.hamburger-inner:after {
    top: 20px;

}
.hamburger.open .hamburger-inner {
    transform: translate3d(0,10px,0) rotate(45deg);
}
.hamburger.open .hamburger-inner .nav1, .nav1 li, .nav1 a{
    transform: translate3d(0,10px,0) rotate(-45deg);
    display: inline;
}
.hamburger.open .hamburger-inner:after {
    transform: translate3d(0,-20px,0) rotate(-90deg);
}
.hamburger.open .hamburger-inner:before {
    transform: translate3d(0,-10px,0) rotate(90deg);
}

.nom{
  font-style: oblique;
  margin-left: 150px;
  margin-top: -70px;
}
.nav1{
  float: right;
  margin-top: 5pc;
  padding: 0;
  margin-left: 750px;
  width: 300px;
}
.nav1 li{
  display: inline;
}
.nav1 a{
  font-size: 20px;
  padding: 0px 25px;
  text-decoration: none;
  color: black;
  font-family: monospace;
}
.box{
  margin: auto;
  margin-top: 80px;
  text-align: center;
  border: 1px solid rgb(204, 171, 171);
  height: 400px;
  width: 400px;
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgb(66, 58, 58);
}
h1{
  margin-top: 10px;
  font-family: monospace;
  line-height: 40px;
  background-color: rgb(247, sss247, 247);
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
}
.uno{
  margin-top: 40px;
}
.dos{
  margin-top: 48px;
}
.box input[type="text"]{
float: right;
margin-right: 30px;
font-size: 20px;
margin-top: 50px;
background: transparent;
border: none;
outline: none;
border-bottom: 1px solid black;
}
#uno{
  margin-top: 42px;
}
.box input[type="submit"]{
  margin-top: 20px;
  margin-top: 25px;
  width: 90px;
  height: 30px;
  color: black;
  border: 1px solid black;
  border-radius: 20px;;
  background: transparent;
}
.text{
  float: left;
  margin-top: 20px;
  margin-left: 40px;
  text-decoration: none;
  line-height: 30px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}
a:hover{
  color: #08F0C2;
}
#logo{
  height: 100px;
  width: 100px;
  margin-top: -50px;
}
