body{
    height: 1000px;
    background: url(img/fondo3.jpg)center;
    background-size: cover;
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
   line-height: 30px;
   border-radius: 10px 10px 0 0;
   box-shadow: 2px 2px 10px #666;
   color: white;
}
.formulario{
    height: 1000px;
    width: 620px;
    margin: auto;
    margin-top: 25px;
    box-shadow: 2px 2px 10px #666;
    border-radius: 10px;
}
.titulo{
    margin: auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


label{
    color: white;
    font-size: 140%;
    margin-left: 20px;
}
input{
    box-shadow: 2px 2px 10px #666;
    float: right;
    width: 300px;
    height: 40px;
    border-radius: 10px;
   margin-left: -20px;
   display: flex;
   background: transparent;

}
.formulario .seccion{
    width: 150px;
    margin-left: 25px;
    border-radius: 10px;
    background-color: rgb(226, 215, 200) ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    margin-left: -5px;
    margin-right: 15px;
    height: 30px;
}

.formulario .direccion{
    box-shadow: 3px 2px 3px black;
    height: 30px;
    width: 380px;
    margin-top: -5px;
}
.formulario .cedula{
    height: 30px;
    width: 150px;
}
.formulario .seccion2{
    width: 300px;
    height: 30px;
    float: right;
    margin-right: 20px;
    background-color: rgb(226, 215, 200);
    border-radius: 10px;
}
.formulario .d2{
    margin-top: 20px;
    margin-left: 35%;
    float: left;
    display: flex;
}
.formulario .d1{
    float: right;
    margin-top: 20px;
    display: flex;
    margin-right: 35%;
}
