<div class="row">
  <div class="col-md-6">
    <%= simple_form_for [@docente, @materia] do |m| %>
      <%= m.input :nombre %>

      <%= m.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
