<div class="row">
  <div class="col-md-6">
    <%= simple_form_for @curso do |c| %>
    <%= c.input :codigo %>
    <%= c.input :nombre %>
    <%= c.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>