*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
}

.galeria{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeriaIMG:hover{
    filter: brightness(70%);
}


.galeriaItem{
    width: 80%;
    cursor: pointer;
    list-style: none;
}

nav{
    background: #2980b9;
    border-radius: 8px;
    height: 60px;
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

a{
    height: 40px;
    width: 80px;
    display: flex;
    border-radius: 5px;
    background-color: #00b894;
    margin-top: 10px;
    margin-left: 6%;
    font-size: 20px;
    font-family: 'Krona One', sans-serif;
    color: white;
    text-decoration: none !important;
}

.label{
    margin-top: 9px;
    color: white;
    font-size: 20px;
    font-family: 'Krona One', sans-serif;
}

.icon{
    margin-top: 0;
}

i{
    margin-right: 3px;
    margin-left: 6px;
    margin-top: 9px;
}

label{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    font-family: 'Krona One', sans-serif;
    margin-top: 20px;
}

@media(min-width:480px){
    .galeriaItem{
        width: 48%;
        margin: 5px;
    }
}

@media(min-width:768px){
    .galeriaItem{
        width: 33%;
    }
}

@media(min-width:1024px){
    .galeriaItem{
        width: 20%;
    }

}

.modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.modal_img{
    width: 80%;
    max-width: 700px;
}

.modal_boton{
    width: 50px;
    height: 50px;
    color: #2c3e50;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background: #95a5a6;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    font-family: monospace;


    position: absolute;
    top: 10px;
    right: 10px;
}