*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 1850px;
    width: 700px;
    margin-top: 50px;
    background: #CBEEF5 ;
}

.container1{
    height: 1500px;
    width: 1000px;
    margin-top: 50px;
    background: #CBEEF5 ;
    margin: auto;
}

.informacion{
    width: 100%;
    height: 250px;

    display: flex;
    /*justify-content: space-around;*/
}

.nombre{
    width: 70%;
    height: 100%;

    display: flex;
    justify-content: space-around;
}

.foto{
    width: 30%;
    height: 100%;

    display: flex;


}

h2{
    text-align: center;
}

#perfil{
    display: flex;
    justify-content: center;
}

.perfil{
    width: 800px;
    font-size: 22px;
    font-family: sans-serif;
}

section{
    margin-top: 15px;
}

h4{
    margin-left: 60px;
}

.formación p{
    margin-left: 60px;
}

.formación p strong{
    margin-right: 3px;
}

hr{
    color: black;
    height: 20px;
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.asd{
    margin-left: 35%;
}
.im1 img{
    height: 50px;
    width: 50px;
    margin-top: -140px;
    margin-left: -300px;
    box-shadow: 2px 3px 2px gray;
}