*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
}

body::-webkit-scrollbar{
    width: 8px;
    
}

body::-webkit-scrollbar-thumb{
    background: #f39c12;
    border-radius: 8px;
}

header{
    width: 100%;
}

.logo{
    float: left;
    margin: 20px auto;
    margin-left: 20px;
    color: #c7ecee;
    font-size: 25px;
    font-family: 'Krona One', sans-serif;
}

header nav{
    border-radius: 5px;
    width: 100%;
    /* max-width: 1000px; */
    margin: 15px auto;
    background-color: #2c3e50;
    
}

header nav ul{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    overflow: hidden;
    list-style: none;

}

header nav ul li{
    display: flex;
    justify-content: space-between;
}


header nav ul li a{
    color: #c7ecee;
    font-family: 'Muli', sans-serif;;
    text-decoration: none !important;
    padding: 22px;
    display: block;
    
}

header nav ul li a i{
    margin-right: 10px;
}

header nav ul li a:hover{
    background: #95a5a6;
}

.menu_bar{
    display: none;
}

section{
    padding: 20px;
}

#equipo{
    background: #dfe6e9;
}

h2{
    text-align: center;
    font-family: 'Krona One', sans-serif;
    color: #2c3e50;
}

.list-inline{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.escudo{
    display: flex;
    justify-content: center;
}

span h4{   
    color: #3498db;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

h4, p{
    text-align: center;
}

small{
    display: flex;
    justify-content: center;
    font-family: 'Krona One', sans-serif;
    color: #2c3e50; 
    margin-bottom: 15px;   
}

@media screen and (max-width:800px){

    header nav{
        width: 75%;
        height: 100%;
        /* left: -100%; */
        margin: 0;
        position: fixed;
    }

    header nav ul li{
        display: display;
        float: none;
        border-bottom: 1px solid #3498db;
    }

    .logo{
        display: none;
    }

    header nav ul li:hover{
        background: #3498db;
    }

    .menu_bar{
        display: block;
        width: 100%;
        background: #2c3e50;
    }

    .menu_bar .bt_menu{
        display: block;
        padding: 20px;
        text-decoration: none;
        color: #c7ecee;
        font-weight: bolder;

        
    }

    .team_ul{
        display: inline;
        
    }

    a{
        font-family: 'Krona One', sans-serif;
        font-size: 25px;
        margin-left: 40px;
    }

    .menu_bar a i{
        float: right;
    }

    .img{
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }

}
.msj{
    width: 300px;
    height: 150px;
    border: solid 1px gray;
    
    

}
.btn{
    height: 30px;
    background-color: rgb(246, 246, 246);
    border: solid 1px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow:gray 2px 3px 2px;
    margin-left: 40%;
    margin-top:10px;
    
}
h6{
    color: whitesmoke;
    line-height: 30px;
    background-color: gray;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#cor{
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#ar{
    height: 30px;
}
.cor1{
    margin-left: 20px;
}