<div class="row">
  <div class="col-md-6">
    <%= simple_form_for @sede do |f| %>
    <%= f.input :codigo %>
    <%= f.input :direccion %>
    <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
