
<h2 class= "mt-3">Datos de la sede</h2>

<p>
  <strong>Código:</strong>
  <%= @sede.codigo %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @sede.direccion %>
</p>

<%= link_to "Todas las sede", sedes_path, class: "btn btn-primary" %>
