*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-image: repeating-linear-gradient(#2c3e50,#34495e);
    border-radius: 8px;
    height: 60px;
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

.label{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    font-family: 'Krona One', sans-serif;
}

a{
    margin-top: 10px;
    margin-left: 6%;
    font-size: 20px;
    font-family: 'Krona One', sans-serif;
    color: white;
    text-decoration: none !important;
}
