body{
  background: #D5D5D5;
}
header{
  height: 100px;
  width: 100%;
  margin: auto;
  background-color: #f1f1f1;
  border: 1px solid rgb(204, 171, 171);
  box-shadow: 0px 0px 2px rgb(0, 0, 0, .3);
}
.hamburger{
  min-height: 30px;
  max-width: 50px;
  margin-left: 75pc;
  margin-top: -3.5pc;
}
.hamburger .nav1 , .nav1 li, .nav1 a{
  display: none;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: black;
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 5px;
    content: '';
    transition-timing-function: ease;
    transition-duration: .2s;
    transition-property: transform,opacity;
}
.hamburger-inner:before {
    top: 10px;
}
.hamburger-inner:after {
    top: 20px;

}
.hamburger.open .hamburger-inner {
    transform: translate3d(0,10px,0) rotate(45deg);
}
.hamburger.open .hamburger-inner .nav1, .nav1 li, .nav1 a{
    transform: translate3d(0,10px,0) rotate(-45deg);
    display: inline;
}
.hamburger.open .hamburger-inner:after {
    transform: translate3d(0,-20px,0) rotate(-90deg);
}
.hamburger.open .hamburger-inner:before {
    transform: translate3d(0,-10px,0) rotate(90deg);
}
.nav1{
  float: right;
  margin-top: 5pc;
  padding: 0;
  margin-left: 750px;
  width: 300px;
}
.nav1 li{
  display: inline;
}
.nav1 a{
  font-size: 20px;
  padding: 0px 25px;
  text-decoration: none;
  color: black;
  font-family: monospace;
}
.nom{
  font-style: oblique;
  float: left;
  margin-left: 150px;
  margin-top: -70px;
}
h3{
  text-align: center;
  font-size: 20px;
  border: 1px solid white;
}
.contenido{
  background-color: #f1f1f1;
  border: 1px solid rgb(204, 171, 171);
  box-shadow: 0px 0px 2px rgb(0, 0, 0, .3);
  width: 40%;
  margin: auto;
  padding: 20px 0;
  margin-bottom: 1pc;
}
label{
  padding: 10px 50px;
  margin-left: 20px;
}
input[type="text"]{
  margin-left: 20px;
}
input[type="number"]{
  margin-left: 114px;
}
#area{
  margin-left: 12px;
}
.boton{
  margin: auto;
  display: flex;
  border: 1px solid rgb(204, 171, 171);
  box-shadow: 0px 0px 2px rgb(0, 0, 0, .3);
  font-family: monospace;
  font-size: 17px;
  border-radius: 8px;
  margin-top: 1pc;
}
footer{
  background-color: #f1f1f1;
  border: 1px solid rgb(204, 171, 171);
  box-shadow: 0px 0px 2px rgb(0, 0, 0, .3);
  height: 100px;
  width: 100%;
  margin: auto;
  margin-top: 1pc;
  bottom: 0;
  position: static;
}
#con{
  text-align: center;
  font-weight: bold;
}
.dr{
  margin-top: 10px;
  margin-left: 245px;
}
.hed h2{
  text-align: center;
  margin-top: 20px;
  font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
}
.bus{
  margin-top: -48px;
  margin-left: 500px;
}
.reg{
  margin-top: 30%;
  margin-left: 10px;
  position: fixed ;
  
}
