body{
  background: #D5D5D5;
}
header{
  height: 100px;
  width: 100%;
  margin: auto;
  background-color: #f1f1f1;
  border: 1px solid rgb(204, 171, 171);
  box-shadow: 0px 0px 2px rgb(0, 0, 0, .3);
}
.nom{
  font-style: oblique;
  float: left;
  margin-left: 150px;
  margin-top: -70px;
}
.nav{
  float: right;
  margin-top: -63px;
  padding: 0px;
  margin-right: 40px;
}
.nav li{
  display: inline;
}
.nav a{
  font-size: 20px;
  padding: 0px 25px;
  text-decoration: none;
  color: black;
  font-family: monospace;
}
a:hover{
  color: white;
}
article{
  height: 100%;
  width: 40%;
  margin: auto;
  margin-top: 1pc;
}
h4{
  text-align: center;
}
label{
  margin-left: 7pc;
}
input[type="submit"]{
  margin: auto;
  display: flex;
  border: 1px solid rgb(204, 171, 171);
  box-shadow: 0px 0px 2px rgb(0, 0, 0, .3);
  font-family: monospace;
  font-size: 17px;
  border-radius: 8px;
}
footer{
  background-color: #f1f1f1;
  border: 1px solid rgb(204, 171, 171);
  box-shadow: 0px 0px 2px rgb(0, 0, 0, .3);
  height: 100px;
  width: 100%;
  margin: auto;
  margin-top: 1pc;
  bottom: 0;
  position: static;
}
.contenido-1, .contenido-2, .contenido-3{
  background-color: #f1f1f1;
  border: 1px solid rgb(204, 171, 171);
  box-shadow: 0px 0px 2px rgb(0, 0, 0, .3);
  width: 90%;
  margin: auto;
  margin-top: 1pc;
}
#con{
  text-align: center;
  font-weight: bold;
}
